body {
    font-family:'LEMONMILK-Regular', Courier, monospace;
    text-align: center;
    background-color: #274C77;
    color: #f7f7fb;
}

#board {
    /* background-color: skyblue; */
    background-image: url("assets/flappybirdbg.png");
}

/* audio{
    display: none
} */